@charset 'UTF-8';
body{
    background-color: lightgray;
    font-family: monospace;
    font-size: 1.25em;
    margin: none;
}
header{
    text-align: center;
    background-color: rgb(177, 177, 177);
    box-shadow: 2px 2px 2px black;
}
header > nav{
    color: lightgray;
}
section > article{
    text-align: justify;
    margin: 30px;
}
article > aside{
    text-align: right;
}
section > h3{
    margin: 15px;
}
footer{
    text-align: center;
    margin: none;
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
}